* {
	box-sizing: border-box;
}

p{
	text-align: center;
	margin: 0 auto;
	padding: 0 0 10px 0;
}

h1 {
	font-size: 40px;
	text-align: center;
	text-shadow: 3px 3px 3px red;
	margin: 10px 10px 5px 0;
}

h2 {
	font-size: 30px;
	text-align: center;
}
html {
	font-size: 18px;
	font-family: 'Droid Sans Mono', monospace;
	background: ##e4aa71;
	background-image: url("../bkg/ZenBG-10.png"), url("../bkg/ZenBG-20.png");
	background-repeat: repeat-x, repeat;
}

body {
	width: 90%;
	background-color: #E6B27E;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.reel {
	padding: 10px 0 10px 0;
}

#menu {
	min-width: 20%;
	background: ##e6ba8e;
	background-image: url("../bkg/ZenBG.png");
	float: left;
	border-left: 5px solid #706f6f;
	border-right:5px hidden #706f6f;
	border-top:5px solid #706f6f;
	border-bottom:5px solid #706f6f;
	margin: 0;
	padding: 0 10px 0 0;
}

#page {
	width: 80%;
	border-left: 5px solid #706f6f;
	border-right:5px solid #706f6f;
	border-top:5px solid #706f6f;
	border-bottom:5px solid #706f6f;
	background: ##e6ba8e;
	background-image: url("../bkg/ZenBG.png");
	float: left;
	clear: none;
	padding: 0 10px 10px 10px;
}

#p1 {
	font-size: 16px;
}

video {
	background-color: #000000;
}