* {
	box-sizing: border-box;
}

p{
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	text-align: center;
	text-shadow: 3px 3px 3px red;
}

html {
	font-size: 16px;
	font-family: 'Droid Sans Mono', monospace;
	background-color: #EBC6A2
}

body {
	width: 90%;
	margin: 0 auto;
	background-color: #E6B27E;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	.menu {
			min-width: 20%;
			background-color: #E6B27E;
			float: left;
			border: 5px solid #706f6f;
			margin: auto;
			padding: 20px;		
			}
}
.menu {
	min-width: 20%;
	background-color: #E6B27E;
	float: left;
	border: 5px solid #706f6f;
	border-right-style:hidden;
	margin: auto;
	padding: 20px;
	
}

.page {
	width: 80%;
	border: 5px solid #706f6f;
	background-color: #E6B27E;
	float: left;
	padding: 0 10px 10px 10px;
}
