* {
	box-sizing: border-box;
}

p{
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 3px red;
}

html {
	font-size: 16px;
	font-family: 'Droid Sans Mono', monospace;
	background-color: #EBC6A2
}

body {
	width: 90%;
	margin: 0 auto;
	background-color: #E6B27E;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.menu {
	width:10%;
	background-color: #E6B27E;
	float: left;
	border: 5px solid #706f6f;
	border-right-style:hidden;
}

.page {
	width: 90%;
	border: 5px solid #706f6f;
	background-color: #E6B27E;
	float: right;
	padding: 0 10px 10px 10px;
}
